<header class="site-header" role="banner">
  <div class="wrapper site-header__inner">
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">
      {{ site.title | escape }}
    </a>

    {% if site.description %}
      <p class="site-description">{{ site.description | escape }}</p>
    {% endif %}

    {% unless page.url == "/" %}
      <nav class="site-nav" aria-label="主导航">
        <a class="page-link" href="{{ "/" | relative_url }}">首页</a>
      </nav>
    {% endunless %}
  </div>
</header>
